<header dir="rtl">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex ">
    <img
      src="https://dkstatics-public.digikala.com/digikala-adservice-banners/853b854949dd9bdc590782be20e29df85d1d9290_1708767044.jpg?x-oss-process=image/quality,q_95/format,webp"
      alt="s24" class="s24"></div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 par ">
    <div class="digi">
      <img src="https://www.digikala.com/statics/img/svg/logo.svg" alt="">
      <div>
        <label for="search"></label>
        <input type="search" id="search" placeholder="جستجو" class="search"></div>
    </div>
    <div class="i">
      <img src="assets/svg/cart3.svg" class="in1" alt="">
      <img src="assets/svg/person.svg" class="in2" alt="">
    </div>
  </div>
  <div class="va">
    <div class="navbar">
      <div class="nav"><img src="assets/svg/digi/list.svg">
        <p routerLink="/financial/list" >دسته‌بندی کالاها</p></div>

      <div class="nav"><img src="assets/svg/digi/percent.svg">
        <p routerLink="/blog/add">شگفت‌انگیزها</p></div>

      <div class="nav"><img src="assets/svg/digi/shop.svg">
        <p>سوپرمارکت</p></div>

      <div class="nav"><img src="assets/svg/digi/credit-card.svg">
        <p>کارت هدیه</p></div>

      <div class="nav"><img src="assets/svg/digi/fire.svg">
        <p>پرفروش‌ترین‌ها</p></div>

      <div class="nav"><img src="assets/svg/digi/currency-dollar.svg">
        <p>تخفیف‌ها و پیشنهادها</p></div>
      <div class="nav">
        <p>سوالی دارید؟</p>
      </div>
      <div class="nav">
        <p>در دیجی‌کالا بفروشید!</p>
      </div>
    </div>
    <div class="inp">
      <input type="text" placeholder="لطفا شهر خود را انتخاب کنید">
    </div>
  </div>
</header>
<hr>
<body dir="rtl">
<div class="story">
  <div class="sty">
    <img
      src="https://dkstatics-public.digikala.com/digikala-content-x-profile/8c9c183ae8948c574901efd7df69d92387ec16bf_1691693414.jpg?x-oss-process=image/resize,m_lfit,h_150,w_150/quality,q_80"
      class="imm">
    <p>بیشتر از یک سه‌پایه رومیزی!</p>
  </div>
  <div class="sty">
    <img
      src="https://dkstatics-public.digikala.com/digikala-content-x-profile/64a140fa52eb98664dd20376d58916d0298bab5f_1659959596.jpg?x-oss-process=image/resize,m_lfit,h_150,w_150/quality,q_80"
      class="imm">
    <p>گیمینگ با گوشی چرمی!</p>
  </div>
  <div class="sty">
    <img
      src="https://dkstatics-public.digikala.com/digikala-content-x-profile/56eae2fc20180a9090f509dc045c785bad475cec_1650379709.jpg?x-oss-process=image/resize,m_lfit,h_150,w_150/quality,q_80"
      class="imm">
    <p>اقتصادی ترین هارد باکیفیت</p>
  </div>
  <div class="sty">
    <img
      src="https://dkstatics-public.digikala.com/digikala-content-x-profile/9ba1718627cee34c4f83604fe432dbb250e13919_1672682965.jpg?x-oss-process=image/resize,m_lfit,h_150,w_150/quality,q_80"
      class="imm">
    <p>چمدان پیرلس سایز بزرگ</p>
  </div>
  <div class="sty">
    <img
      src="https://dkstatics-public.digikala.com/digikala-content-x-profile/96e8f0e3a74785c92aa262a04383a71fd68714fc_1669144745.jpg?x-oss-process=image/resize,m_lfit,h_150,w_150/quality,q_80"
      class="imm">
    <p>بررسی لپ تاپ Lenovo</p>
  </div>
  <div class="sty">
    <img
      src="https://dkstatics-public.digikala.com/digikala-content-x-profile/0c9bf3090971a2c4055891be4ac0631737c15ae8_1702326340.jpg?x-oss-process=image/resize,m_lfit,h_150,w_150/quality,q_80"
      class="imm">
    <p>یه طعم جذاب و دلنشین☕</p>
  </div>
  <div class="sty">
    <img
      src="https://dkstatics-public.digikala.com/digikala-content-x-profile/7e6b53e362e49a6f6c6569847f9221716fd9d3e4_1687019206.jpg?x-oss-process=image/resize,m_lfit,h_150,w_150/quality,q_80"
      class="imm">
    <p>آیس کافی پرو مکس !؟!</p>
  </div>
  <div class="sty">
    <img
      src="https://dkstatics-public.digikala.com/digikala-content-x-profile/5837742aa779edd4f25608eafadc329d1f8ad4a1_1698253726.jpg?x-oss-process=image/resize,m_lfit,h_150,w_150/quality,q_80"
      class="imm">
    <p>کنجد عسلی دیجیکالا</p>
  </div>
  <div class="sty">
    <img
      src="https://dkstatics-public.digikala.com/digikala-content-x-profile/d9bafb0c51bce812b49b4d5d2d94cda85336f255_1654384043.jpg?x-oss-process=image/resize,m_lfit,h_150,w_150/quality,q_80"
      class="imm">
    <p>تاثیرات بازی روی زندگی!</p>
  </div>
  <div class="sty">
    <img
      src="https://dkstatics-public.digikala.com/digikala-content-x-profile/f0b3cf9798f5a9d4a96dec65dd0ea8bf4470ce96_1695285268.jpg?x-oss-process=image/resize,m_lfit,h_150,w_150/quality,q_80"
      class="imm">
    <p>کرم ضدلک سیسپرسا</p>
  </div>
  <div class="sty">
    <img
      src="https://dkstatics-public.digikala.com/digikala-content-x-profile/58198fc27364e6cd98be44d5570ad9bfee8ad95f_1704649508.jpg?x-oss-process=image/resize,m_lfit,h_150,w_150/quality,q_80"
      class="imm">
    <p>هندزفری سیمی ایزن EF4</p>
  </div>
  <div class="sty">
    <img
      src="https://dkstatics-private.digikala.com/digikala-content-x-profile/f1be912c2618775f5c5c4f9439e0cb9e6c8db49b_1641811283.jpg?OSSAccessKeyId=LTAIPClJziKGRUZJ&Expires=1952851284&Signature=NVbcImAh2XePBBWlFvr1E28BYys%3D"
      class="imm">
    <p>انبرپرس سر سیم (کابلشو)</p>
  </div>
  <div class="sty">
    <img
      src="https://dkstatics-public.digikala.com/digikala-content-x-profile/a62046bb0ea2b70b31c2df74556a27861137ba82_1694551588.jpg?x-oss-process=image/resize,m_lfit,h_150,w_150/quality,q_80"
      class="imm">
    <p>موسی با کیفیتی بالا </p>
  </div>
</div>
<div class="slider">
  <div class="imeges">
    <input type="radio" name="slide" id="m1">
    <input type="radio" name="slide" id="m2">
    <input type="radio" name="slide" id="m3" checked>
    <input type="radio" name="slide" id="m4">
    <img
      src="https://dkstatics-public.digikala.com/digikala-adservice-banners/255e7c81a680b828f84e9f4bfaf6f94dadbc472e_1708768437.jpg?x-oss-process=image/quality,q_95/format,webp"
      class="m1">
    <img
      src="https://dkstatics-public.digikala.com/digikala-adservice-banners/4329a1b63e7974c4af5667cdbf4e3cd0dbee428a_1708604465.jpg?x-oss-process=image/quality,q_95/format,webp"
      class="m2">
    <img
      src="https://dkstatics-public.digikala.com/digikala-adservice-banners/a163d2c904a4a1983bc31d9f0977b2d4be309ae2_1708757632.gif?x-oss-process=image?x-oss-process=image/format,webp"
      class="m3">
    <img
      src="https://dkstatics-public.digikala.com/digikala-adservice-banners/2d6fbf95bf06698909a6a5b90507c0e0911e760d_1708529400.gif?x-oss-process=image?x-oss-process=image/format,webp"
      class="m4">
  </div>
  <div class="dots">
    <label for="m1"></label>
    <label for="m2"></label>
    <label for="m3"></label>
    <label for="m4"></label>
  </div>
</div>
<div class="off">
  <div class="jet">
    <img
      src="https://dkstatics-public.digikala.com/digikala-bellatrix/45955754dd1d7fb54370b11eede1fe4c013fb54b_1708348470.png"
      class="jet2">
    <p>دیجی‌کالا جت</p>
  </div>
  <div class="jet">
    <img
      src="https://dkstatics-public.digikala.com/digikala-bellatrix/7c2f853106e5ba40f1b97db6e32dc413e9b93f6c_1708349941.png"
      class="jet2">
    <p>دیجی‌پی</p>
  </div>
  <div class="jet">
    <img
      src="https://dkstatics-public.digikala.com/digikala-bellatrix/848ed4509ee016c370f5c87819c61c63b47e2ab5_1708423993.png"
      class="jet2">
    <p>حراج استایل</p>
  </div>
  <div class="jet">
    <img
      src="https://dkstatics-public.digikala.com/digikala-bellatrix/ba2f34ef7d8e902c4477cfd356ff696af08ac022_1708351394.png"
      class="jet2">
    <p>خرید چکی</p>
  </div>
  <div class="jet">
    <img
      src="https://dkstatics-public.digikala.com/digikala-bellatrix/7d52f9d32eb757ed2e32ca1d794111494eae4ffb_1708338379.png"
      class="jet2">
    <p>آخرین حراج سال</p>
  </div>
  <div class="jet">
    <img
      src="https://dkstatics-public.digikala.com/digikala-bellatrix/7830755c5a1df69daa06c63ae0f0903b9306cdf6_1708338817.png"
      class="jet2">
    <p>شکار گنج</p>
  </div>
  <div class="jet">
    <img
      src="https://dkstatics-public.digikala.com/digikala-bellatrix/a9ac9a97a93dcff58f2f64e405dd0348a07a7774_1708338934.png"
      class="jet2">
    <p>۹۹% تخفیف</p>
  </div>
  <div class="jet">
    <img src="assets/svg/digi/list.svg" class="jet2">
    <p>بیشتر</p>
  </div>
</div>
<div class="bg">
  <div class="car">
    <img src="https://www.digikala.com/statics/img/svg/specialCarousel/Amazings.svg" class="img6">
    <img src="https://www.digikala.com/statics/img/png/header/percent-ice.webp" class="img6">
    <p>مشاهده همه</p>
  </div>
  <div class="card1">
    <img
      src="https://dkstatics-public.digikala.com/digikala-products/b6e9530f85945d418fe84bde1650d88d01bbf5ca_1697557328.jpg?x-oss-process=image/resize,m_lfit,h_300,w_300/format,webp/quality,q_80"
      class="imc">
    <div class="imgc">
      <div class="per ">
        <p>۷۲%</p>
      </div>
      <div>
        <p>۳,۷۹۱,۰۰۰</p>
      </div>
    </div>
  </div>
  <div class="card1">
    <img
      src="https://dkstatics-public.digikala.com/digikala-products/2759c6317e3361d46eadea5bac10ee3b4329dad3_1660471043.jpg?x-oss-process=image/resize,m_lfit,h_300,w_300/format,webp/quality,q_80"
      class="imc">
    <div class="imgc">
      <div class="per">
        <p>۴۲٪</p>
      </div>
      <div>
        <p> ۲۶۵,۷۰۰</p>
      </div>
    </div>
  </div>
  <div class="card1">
    <img
      src="https://dkstatics-public.digikala.com/digikala-products/2b65123db8c1a14dd5e1d8476792110e15ff2d0b_1654948294.jpg?x-oss-process=image/resize,m_lfit,h_300,w_300/format,webp/quality,q_80"
      class="imc">
    <div class="imgc">
      <div class="per">
        <p>۴۲٪</p>
      </div>
      <div>
        <p> ۲۶۵,۷۰۰</p>
      </div>
    </div>
  </div>
  <div class="card1">
    <img
      src="https://dkstatics-public.digikala.com/digikala-products/c08b93cc99bc1c7415f99503e40070e0bfb82d8d_1707747172.jpg?x-oss-process=image/resize,m_lfit,h_300,w_300/format,webp/quality,q_80"
      class="imc">
    <div class="imgc">
      <div class="per">
        <p>۴۲٪</p>
      </div>
      <div>
        <p> ۲۶۵,۷۰۰</p>
      </div>
    </div>
  </div>
  <div class="card1">
    <img
      src="https://dkstatics-public.digikala.com/digikala-products/96d205eb73c8c812a05a638cb2b8b625c0e48cd6_1697960388.jpg?x-oss-process=image/resize,m_lfit,h_300,w_300/format,webp/quality,q_80"
      class="imc">
    <div class="imgc">
      <div class="per">
        <p>۴۲٪</p>
      </div>
      <div>
        <p> ۲۶۵,۷۰۰</p>
      </div>
    </div>
  </div>
  <div class="card1">
    <img
      src="https://dkstatics-public.digikala.com/digikala-products/203daa2668dbf6606858b056584a6bb774439a2d_1696260193.jpg?x-oss-process=image/resize,m_lfit,h_300,w_300/format,webp/quality,q_80"
      class="imc">
    <div class="imgc">
      <div class="per">
        <p>۴۲٪</p>
      </div>
      <div>
        <p> ۲۶۵,۷۰۰</p>
      </div>
    </div>
  </div>
</div>
</body>



